.login-route-light-theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.login-form-container-light-theme {
  background-color: #ffffff;
  box-shadow: 8px 0px 8px 8px #f1f5f9;
  border-radius: 6px;
  border-style: solid;
  border-width: 4px;
  border-color: #f1f5f9;
  margin-right: 15px;
}
form {
  display: flex;
  flex-direction: column;
}
.website-logo-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.logo {
  height: 40px;
  width: 100px;
}
.light-theme-input {
  height: 40px;
  width: 350px;
  background-color: #f1f5f9;
  outline: none;
  cursor: pointer;
  border-style: solid;
  border-color: #e2e8f0;
  border-width: 2px;
  font-family: 'Roboto';
  color: #475569;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 80px;
  margin-bottom: 20px;
}
.login-button {
  height: 40px;
  width: 350px;
  background-color: #4f46e5;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  color: #475569;
  border-radius: 8px;
  margin-left: 80px;
  margin-bottom: 20px;
  color: #ffffff;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.error-msg {
  font-family: 'Roboto';
  color: red;
  font-size: 15px;
  margin-left: 80px;
}
.label-text {
  font-family: 'Roboto';
  color: #475569;
  font-weight: bold;
  margin-left: 80px;
  margin-bottom: 5px;
}
.username-field {
  display: flex;
  flex-direction: column;
}
.checkbox-input {
  font-family: 'Roboto';
  color: #475569;
  font-weight: bold;
  margin-left: 80px;
  margin-bottom: 5px;
  height: 25px;
  outline: none;
  cursor: pointer;
  border-style: solid;
  border-color: #e2e8f0;
  border-width: 2px;
}
.checkbox-label {
  font-family: 'Roboto';
  color: #475569;
  font-weight: bold;
  padding-top: 4px;
}
.show-passwords-container {
  display: flex;
}

.login-route-dark-theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

.login-form-container-dark-theme {
  background-color: #000000;
  box-shadow: 8px 8px 8px 8px #f1f5f9;
  border-radius: 6px;
}
@media screen and (max-width: 767px) {
  .login-button {
    width: 200px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .light-theme-input {
    width: 200px;
    margin-left: 10px;
  }
  .checkbox-input {
    margin-left: 10px;
  }
  .label-text {
    margin-left: 10px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .error-msg {
    margin-left: 10px;
  }
}
